# Build/cache output
.artifacts/
/.internal
/build
.editor_settings
bundle/

# Defold/editor local state
*.user
*.suo
*.VC.db
*.VC.opendb

# Native build byproducts
*.obj
*.pdb
*.ilk
*.exe
.DS_Store
Thumbs.db
__pycache__/
*.pyc
